<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<br>
<div class="form-gorup" >
  <label class="usernameInput" > Search colleagues:</label>
  <input style="margin-left: 18px" class="form-control" id="username" placeholder="username"  [(ngModel)]="term"/>
</div>
<br>
<expandable-list class="expandable-list" >
  <div *ngIf="term === undefined || term === ''">
  <expandable-list-item
    [isExpanded]="false" class="list"
    *ngFor="let team of teams; let i = index">
    <a title >{{team.teamName}}{{" Team"}}</a>
    <a item class="list" *ngFor="let user of team.users | user:term; let i = index">

      {{user.name}}
      <a *ngIf="getUser() != user.name">
        <select class="comboBox" (change)="changeSelectedTemplateValue(user.name,$event.currentTarget.value)">
          <option value="" selected hidden>Select template name</option>
          <option class="comboBoxItem" *ngFor="let template of templates" [value]=template.id [selected]="">{{template.name}}</option>
        </select>
        <a>
          <button class="feedbackButton " (click)="setTemplateId(user.name)">Feedback</button>
        </a>
        <a *ngIf="getRole()==='ROLE_SUL'">
          <button class="editBut">
            <em class="material-icons  md-light" (click)="edit(user)">mode_edit</em>
          </button>
          <button class="editBut">
            <em class="material-icons  md-light" (click)="delete(user.id)">delete</em>
          </button>
        </a>
      </a>
    </a></expandable-list-item>
  </div>

  <div *ngIf="term != undefined && term != ''">
    <expandable-list-item
      [isExpanded]="true" class="list"
      *ngFor="let team of teams; let i = index">
      <a title >{{team.teamName}}{{" Team"}}</a>
      <a item class="list" *ngFor="let user of team.users | user:term; let i = index">
        {{user.name}}
        <a *ngIf="getUser() != user.name">
          <div class="wrapper">
          <select size="1" class="comboBox" ng-model="selectedTemplate">
            <option value="" selected hidden>Select template name</option>
            <option  class="comboBoxItem" *ngFor="let template of templates" [ngValue]="template">{{template}}</option>
          </select>
          </div>

          <button class="feedbackButton">Feedback</button>
          <a *ngIf="getRole()==='ROLE_SUL'">
            <button class="editBut">
              <em class="material-icons  md-light" (click)="edit(user)">mode_edit</em>
            </button>
            <button class="editBut">
              <em class="material-icons  md-light" (click)="delete(user.id)">delete</em>
            </button>
          </a>
        </a>
      </a></expandable-list-item>
  </div>



</expandable-list>
