div.centerBox {
  display: inline;
  width: 70%;
  border: solid 1px grey;
  box-shadow: 2px 2px 2px #888888;
  background: rgba(199, 199, 199, 0.9);
  margin-left: 10%;
}

.colleagueList {
  width: 60%;
  height: 100%;
  border: solid 1px grey;
  width: 60%;
  height: 100%;
  border: solid 1px grey;
  box-shadow: 2px 2px 2px #888888;
  background: rgba(204, 204, 204, 0.9);
  vertical-align: top;
  float: right;
}

/*menu*/
.leftMenu {
  float: left;
  width: 25%;
}

.form-control#username {
  width: 50%;
}

#cssmenu ul li button, #cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}

#cssmenu ul li button {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}

#cssmenu.align-right {
  float: right;
}

#cssmenu:after, #cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.text:focus, .text:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#cssmenu ul li button, #cssmenu ul li {
  display: block;
  z-index: 1;
  background: #222222;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #080808 0%, #222222 50%, #363636 51%,
  #343434 78%, #6f6f6f 100%);
  background: -webkit-linear-gradient(bottom, #080808 0%, #222222 50%, #363636 51%,
  #343434 78%, #6f6f6f 100%);
  background: -o-linear-gradient(bottom, #080808 0%, #222222 50%, #363636 51%, #343434 78%, #6f6f6f 100%);
  background: -ms-linear-gradient(bottom, #080808 0%, #222222 50%, #363636 51%,
  #343434 78%, #6f6f6f 100%);
  background: linear-gradient(to top, #080808 0%, #222222 50%, #363636 51%, #343434 78%, #6f6f6f 100%);
}

#cssmenu ul li button::after, #cssmenu ul li::after {
  content: "";
  height: 8px;
  position: absolute;
  border-top-left-radius: 50% 4px;
  border-top-right-radius: 50% 4px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0));
  z-index: 2;
  bottom: 10px;
}

#cssmenu ul li button, #cssmenu ul li a {
  display: block;
  padding: 24px 30px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 3;
}

#cssmenu ul li button:hover, #cssmenu ul li a:hover, #cssmenu ul li.active a {
  color: #ffffff;
}

#cssmenu ul li button.active, #cssmenu ul li button:hover, #cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #16bd8c;
  background: -moz-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%,
  #1adda4 78%, #7cf0ce 100%);
  background: -webkit-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%,
  #1adda4 78%, #7cf0ce 100%);
  background: -o-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4 78%, #7cf0ce 100%);
  background: -ms-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%,
  #1adda4 78%, #7cf0ce 100%);
  background: linear-gradient(to top, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4 78%, #7cf0ce 100%);
}

#cssmenu ul li button:hover::after, #cssmenu ul li button.active::after,
#cssmenu ul li:hover::after, #cssmenu ul li.active::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0));
}

/* colleague ext list*/
.wrapper{
  border: 1px dashed red;
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 150px;
}
.wrapper .comboBox{
  width:150px;
  border:1px solid #ccc
}

.comboBox {
  border-width: thin;
  float: right;
  color: gray;
/*  width: 15%;*/
  height: 39px;
  margin-top: 0.5px;
}

.comboBoxItem{
 color:gray;
  font-weight: 400;
  font-size: 110%;
  border-width: medium;
}
.editBut {
  float: right;
  height: 40px;
}

.usernameInput {

  font-size: 125%;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #337ab7;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 20px;
}

.list {

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #3dc782;
  background-color: #E6E6E6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6),
  to(#CCCCCC));
  background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
  background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
  background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
  background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
  background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
  startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.list:hover {

  background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
  startColorstr=#b3b3b3, endColorstr=#b3b3b3);
}

.feedbackButton {
  /*   vertical-align:-25px; */
  height: 40px;;
  font-size: 100%;
  float: right;
  border: 1px solid #9b9b9b;
  width: 7%;
  color: #1adfa4;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
}

.right_float {
  float: right;
}

