@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import '../node_modules/ngx-toastr/toastr.css';
/*Layout Part background-image: url("assets/poza2_burned.png");*/
body {
  background-color: #ffffff;
}

.headerContent {
  background-color: white;
  border: solid 1px grey;
  box-shadow: 2px 2px 2px #888888;
  background: rgba(255, 255, 255, 0.9);
  height: 140px;
  text-align: center;
}

.headerInnerPart {
  margin: 15px;
  margin-top: 0;
  position: relative;
}

.feedyLogo {

  margin-top: 7px;
}

.footerContent {

  width: 100%;
  padding: 2%;
  position: relative;
  border: solid 2px grey;

}

.copyrightPart {
  min-height: 25px;
}

.copyrightPart p {
  margin-bottom: 0px;
}

p {
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}

.rights {
  margin-right: 2%;
  float: left;
  margin-top: 1px;
}

.poweredBy {
  margin-left: 2%;
  float: right;
}

.erniLogo {
  margin-top: 2px;
  background: rgba(255, 255, 255, 0.9);
  width:60%;
  float:right;

}

.feedyLogo {
  width: 5%;
  height: auto;
}

.quotation {
  font-family: 'Damion';
  font-size: 200%;
  color: grey;
  font-size: 180%;
}

.quotationMark {
  width: 2%;
  height: auto;
}


#slideshow {
  margin: 50px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}








