<section class="carousel slide cid-qrN17SLgpX" data-interval="false" id="slider1-h" data-rv-view="132">


  <div class="full-screen">
    <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel"
         data-interval="4000">
      <div class="container">
        <ol class="carousel-indicators">
          <li data-app-prevent-settings="" data-target="#slider1-h" data-slide-to="0"></li>
          <li data-app-prevent-settings="" data-target="#slider1-h" data-slide-to="1"></li>
          <li data-app-prevent-settings="" data-target="#slider1-h" class=" active" data-slide-to="2"></li>
          <li data-app-prevent-settings="" data-target="#slider1-h" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false"
               style="background-image: url(../../../assets/images/vld-2-2000x1334.jpg);">
            <div class="container container-slide">
              <div class="image_wrapper"><img src="../../../assets/images/vld-2-2000x1334.jpg">
                <div class="carousel-caption">
                  <div class="col-10 offset-1 align-center hvrbox">
                    <img class="hvrbox-layer_bottom" src="../../../assets/value1.png"
                         style="display: block;opacity: 0.5;float: left;width: 20.75%"/>
                    <div class="hvrbox-layer_top hvrbox-layer_scale"
                         style="float: left;width: 78%;background: rgba(255, 255, 255, 0.5)">
                      <div class="hvrbox-text" style="text-align: center;padding: 5%"><h3 class="principleText"><br><br><br>
                        We trust and respect each other. We expect our colleagues to be honest and that they keep their
                        promises. As a result, we can fully support
                        one another and accept different opinions.</h3><br></div>
                    </div>
                  </div>
                </div>
                <div >
                  <button style="color:#fff;top:75%;margin:50px;position: fixed;left:44.2%;width: 120px;height:60px;background-color: rgba(0,0,0,0.5);border:2px solid #fff;border-radius: 17%" (click)="showLogin()">Login</button>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false"
               style="background-image: url(../../../assets/images/vld-1-2000x1334.jpg);">
            <div class="container container-slide">
              <div class="image_wrapper"><img src="../../../assets/images/vld-1-2000x1334.jpg">
                <div class="carousel-caption ">
                  <div class="col-10 offset-1 align-center hvrbox"><br><br>
                    <img class="hvrbox-layer_bottom" src="../../../assets/value2.png"
                         style="display: block;opacity: 0.5;float: right;width: 22%"/>
                    <div class="hvrbox-layer_top hvrbox-layer_scale"
                         style="float: left;width: 78%;background: rgba(255, 255, 255, 0.5)">
                      <div class="hvrbox-text" style="text-align: center;padding: 3%"><h3 class="principleText"><br><br><br><br>
                        We are passionate about our work and committed to
                        generating significant added value. We live and breathe software engineering, we strive to
                        simplify processes through continuous
                        innovation.</h3><br><br><br>
                      </div>
                    </div>
                  </div>
                </div>

                <div >
                  <button style="color:#fff;top:75%;margin:50px;position: fixed;left:44.2%;width: 120px;height:60px;background-color: rgba(0,0,0,0.5);border:2px solid #fff;border-radius: 17%" (click)="showLogin()">Login</button>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false"
               style="background-image: url(../../../assets/images/vld-2000x1334.jpg);">
            <div class="container container-slide">
              <div class="image_wrapper"><img src="../../../assets/images/vld-2000x1334.jpg">
                <div class="carousel-caption">
                  <div class="col-10 offset-1 align-center hvrbox"><br><br>
                    <img class="hvrbox-layer_bottom" src="../../../assets/value3.png"
                         style="display: block;opacity: 0.5;float: left;width: 20.8%"/>
                    <div class="hvrbox-layer_top hvrbox-layer_scale"
                         style="float: left;width: 78%;background: rgba(255, 255, 255, 0.5)">
                      <div class="hvrbox-text" style="text-align: center; padding: 5%"><h3 class="principleText">
                        <br><br><br>
                        We are accountable for our work and respecting our client's corporate culture. We conduct
                        ourselves
                        professionally as if handling our own business. We are considerate of both our environment and
                        the people within it.</h3><br><br>
                      </div>
                    </div>
                  </div>
                </div>
                <div >
                  <button style="color:#fff;top:75%;margin:50px;position: fixed;left:44.2%;width: 120px;height:60px;background-color: rgba(0,0,0,0.5);border:2px solid #fff;border-radius: 17%" (click)="showLogin()">Login</button>
                </div>
              </div>
            </div>
          </div>



          <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false"
               style="background-image: url(../../../assets/images/vld-3-2000x1334.jpg);">
            <div class="container container-slide">
              <div class="image_wrapper"><img src="../../../assets/images/vld-3-2000x1334.jpg">
                <div class="carousel-caption">
                  <div class="col-10 offset-1 align-center hvrbox"><br><br>
                    <img class="hvrbox-layer_bottom" src="../../../assets/value4.png"
                         style="display: block;opacity: 0.5;float: right;width: 21.76%"/>
                    <div class="hvrbox-layer_top hvrbox-layer_scale"
                         style="float: left;width: 78.15%;background: rgba(255, 255, 255, 0.5)">
                      <div class="hvrbox-text" style="text-align: center;padding: 5%"><h3 class="principleText"><br><br><br>
                        We are exclusively committed to out customers. Our success is measured based on actual results
                        delivered to clients
                        . We strive to reduce complexity to the maximum. We personally ensure that our clients trully
                        benefit from our efforts.</h3><br><br>
                      </div>
                    </div>
                  </div>
                </div>
                <div >
                <button style="color:#fff;top:75%;margin:50px;position: fixed;left:44.2%;width: 120px;height:60px;background-color: rgba(0,0,0,0.5);border:2px solid #fff;border-radius: 17%" (click)="showLogin()">Login</button>
                </div>
              </div>
            </div>
          </div>

          <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev"
             href="#slider1-h"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a>
          <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next"
             href="#slider1-h"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
