<md-tab-group>

  <md-tab label={{templateTypes[0]}}>
    <ul>
      <li *ngFor="let key of templateUsage.keys()">
        <span> {{key}} Usage: {{templateUsage.get(key)}}</span>
      </li>
    </ul>

  </md-tab>

  <md-tab label={{templateTypes[1]}}>

    <select class="comboBox" [(ngModel)]="selectedTemplate">
      <option class="comboBoxItem" *ngFor="let template of templates" [value]=template.id [selected]="">
        {{template.name}}
      </option>
    </select>
    <button (click)="setResult()">Go</button>
    <div *ngIf="showResult === true">
      <p>Procentage for Template : {{procentageForTemplate}}</p>
      <p>Top Results For Template</p>
      <ul>
        <div *ngFor="let x of topResultForTemplate">
          <div *ngFor="let y of x.keys()">
            {{y}}:
            <div *ngFor="let z of x.get(y).keys()">
              {{z}}:{{x.get(y).get(z)}}
            </div>
          </div>
        </div>
      </ul>
    </div>

  </md-tab>
</md-tab-group>

<div style="display: block ; width: 30%">
  <canvas baseChart
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

<script src="node_modules/chart.js/src/chart.js"></script>

