<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4> Name: {{template.name}}</h4>
      <h4> Author: {{template.author}}</h4>

      <h4 class="modal-title">{{title}}</h4>
    </div>

    <div class="modal-body">

      <div *ngFor="let question of questions;">
        {{question.questionText}}
        <ul>
          <li *ngFor="let response of question.responseChoices;">
            {{response.responseChoiceText}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
