<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit()" class="templateClass">
    <div class="form-group">
      <label>
        <input type="checkbox" [(ngModel)]="anonymous" name="anonymous">Anonymous</label>
    </div>
    <div class="form-group" *ngFor="let question of questions;let i=index">
      <label>{{question.questionText}}</label>
       <a *ngIf="question.questionType == 'FREETEXT'">
          <input [(ngModel)]="answers[i]"  name="Freetext + {{i}}" class="form-control" placeholder="Please enter your answer here"></a>
       <a *ngIf="question.questionType == 'SINGLE_CHOICE'">
          <div *ngFor="let response of question.responseChoices; let indx = index;">
            <label>
              <input [(ngModel)]="answers[i]" type="radio" name="singleChoice + {{i}}+{{indx}}" [value]="response.responseChoiceText"> {{response.responseChoiceText}}</label>
          </div>
      </a>
      <a *ngIf="question.questionType == 'MULTIPLE_CHOICE'">
        <div *ngFor="let response of question.responseChoices; let indx = index">
          <label>
            <input id="MultipleChoice + {{i}}+{{indx}}" [(ngModel)]="answers[i][indx]" name="MultipleChoice + {{i}}+{{indx}}" [value]="response.responseChoiceText"  type="checkbox"> {{response.responseChoiceText}}</label>
        </div>
      </a>
    </div>
    <button class="submitForm">Submit</button>
  </form>
</div>
