
.templateClass input[type="text"],
.templateClass input[type="date"],
.templateClass input[type="datetime"],
.templateClass input[type="email"],
.templateClass input[type="number"],
.templateClass input[type="search"],
.templateClass input[type="time"],
.templateClass input[type="url"],
.templateClass input[type="password"],
.templateClass textarea,
.templateClass select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.templateClass input[type="text"]:focus,
.templateClass input[type="date"]:focus,
.templateClass input[type="datetime"]:focus,
.templateClass input[type="email"]:focus,
.templateClass input[type="number"]:focus,
.templateClass input[type="search"]:focus,
.templateClass input[type="time"]:focus,
.templateClass input[type="url"]:focus,
.templateClass input[type="password"]:focus,
.templateClass textarea:focus,
.templateClass select:focus {
  background: #16bd8c;
}

.templateClass input[type="submit"],
.templateClass input[type="button"] {
  background: #16bd8c;
  border: none;
  padding: 10px 20px 10px 20px;
  color: #D2E2FF;
}

.templateClass input[type="submit"]:hover,
.templateClass input[type="button"]:hover {
  background: #16bd8c;
  color: #fff;
}

.templateClass li > span {
  background: #F3F3F3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #C0C0C0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.templateClass textarea {
  resize: none;
}

.templateClass h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #16bd8c;
  font-size: x-large;
}

.templateClass ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.templateClass li {
  display: block;
  padding: 9px;
  border: 1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}

.templateClass li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}

.templateClass li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.submitForm {
  font-size: 1em;
  font-weight: bold;
  color: white;
  background: #16bd8c;
  outline: none;
  cursor: pointer;
  padding: 1em;
  -webkit-appearance: none;
  width: 100%;
  text-align: center;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  transition: .5s all;
  text-align: center;
  left: -18%;
}

.templateClass {
  margin: 20px auto;
  border-radius: 2px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 50%;
}



