@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

input[type="text"], input[type="password"] {
  font-size: 1em;
  color: gray;
  margin: 0 0 2em;
  width: 100%;
  display: block;

  padding: 1em;
  border-bottom: solid 1px gray;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, gray 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, gray 4%);
  background-position: -800px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 13px;
  box-shadow: 5px 5px 5px #888888;
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;

}

::-webkit-input-placeholder {
  color: lightgray;
  font-family: 'Dosis', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
  color: lightgray;
  font-family: 'Dosis', sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
  color: lightgray;
  font-family: 'Dosis', sans-serif;
}

:-ms-input-placeholder {
  color: lightgray;
  font-family: 'Dosis', sans-serif;
}

button:hover {
  background: white;
  color: black;
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-box-shadow: 0 3px 3px 0 rgb(12, 12, 12);
  -moz-box-shadow: 0 3px 3px 0 rgb(12, 12, 12);
  box-shadow: 0 3px 3px 0 rgb(12, 12, 12);

}

button.x {
  font-size: 1em;
  font-weight: bold;
  color: white;
  background: #309FF7;
  outline: none;
  cursor: pointer;
  padding: 1em;
  -webkit-appearance: none;
  width: 65%;
  margin: 1em 0;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  transition: .5s all;
  position: relative;
  left: -18%;
  border-radius: 13px;
  box-shadow: 5px 5px 5px #888888;
}

.text:focus, .text:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}


.select {
  font-size: 1em;
  color: gray;
  margin: 0em 0em 2em;
  width: 100%;
  display: block;
  padding: 1em;
  border-bottom: solid 1px gray;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, gray 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, gray 4%);
  background-position: -800px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 13px;
  box-shadow: 5px 5px 5px #888888;

}

.modal-header {
  text-align: center;
}

.modal-content {
  background-color: lightgrey;
}



/*Responsiveness*/
@media (max-width: 1440px) {
  .content {
    margin: 3em auto;
  }

  .main {
    padding: 2em 0 0;
  }
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
  .content {
    width: 40%;
  }

  input[type="text"], input[type="password"], .select {
    width: 92%;
  }

  text-align: -webkit-center;
}

@media (max-width: 1080px) {
  .content {
    width: 46%;
    margin: 2em auto;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
  input[type="text"], input[type="password"], .select {
    width: 91%;
    margin: 2em 0 0;
  }

  button {
    padding: 0.9em;
  }
}

@media (max-width: 900px) {
  .main {
    padding: 1.5em 0 0;
  }
}

@media (max-width: 800px) {
  .formContent {
    padding: 2.5em;
  }

  .content {
    width: 53%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 55%;
  }

  button {
    padding: 0.8em;
    margin: 2.5em 0;
  }
}

@media (max-width: 640px) {
  .main {
    padding: 1em 0 0;
  }

  input[type="text"], input[type="password"], .select {
    margin: 1.5em 0 0;
    width: 89%;
  }

  .content {
    width: 60%;
    margin: 1.5em auto;
  }
}

@media (max-width: 480px) {
  .formContent {
    padding: 2em;
  }

  input[type="text"], input[type="password"], .select {
    width: 89%;
  }

  .content {
    width: 75%;
  }

  button {
    font-size: 0.9em;
    margin: 2.5em 0 2em;
  }
}

@media (max-width: 414px) {
  .formContent {
    padding: 1.5em;
  }

  input[type="text"], input[type="password"], .select {
    width: 90%;
    padding: 1em .8em;
  }
}

@media (max-width: 384px) {
  .content {
    width: 78%;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
  .content {
    width: 85%;
    margin: 1.2em auto;
  }

  input[type="text"], input[type="password"], .select {
    width: 88%;
    padding: 1em .8em;
    margin: 1em 0 0;
    color: lightgray;
    font-family: 'Dosis', sans-serif;
  }

  input[type="text"], .select {
    margin: 0;
  }

  button {
    font-size: 0.8em;
    margin: 2.5em 0 1.5em;
  }
}

@-webkit-keyframes autofill {
  to {
    color: #000000;
    background: white;
  }
}



