<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <label>Username</label>
      <input class="text" autocomplete="off" type="text" [(ngModel)]="username" name="username" placeholder="Username" required tabindex="1">
      <div *ngIf="title!='Edit User'">
        <label>Password</label>
        <input class="text" autocomplete="new-password" type="password" [(ngModel)]="password" name="password" placeholder="Password" required tabindex="2">
      </div>
      <label>Select a Team</label>
      <select name="teamName" class="select" [(ngModel)]="selectedTeam" tabindex="3">
        <option *ngFor="let team of teams" [ngValue]="team">{{team}}</option></select>
      <label>Select a Role</label>
      <select name="roleName" class="select" [(ngModel)]="selectedRole" tabindex="4">
        <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option></select><br>
    </div>
    <div class="modal-footer">
      <button (click)="save()" class="x" tabindex="5">Save changes</button>
    </div>
  </div>
</div>
