.modal-body{
  font-wheight: 100px;
 /* font-family: Helvetica, Arial, sans-serif;*/
  font-family: Verdana;
}

.question{
  color: darkblue;
  font-weight: 600;
  font-family: Verdana;
}

.response{
  color: black;
  font-weight: 500;
}

.answer{
  color: darkgreen;
  font-weight: 500;
  font-weight: 900;
}
