<div class="modal-dialog" id="feedback">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Feedback</h4>
      <h5>From:{{feedback.from}}</h5>
      <h5>To:{{feedback.to}}</h5>
    </div>
    <div class="modal-body">
      <div *ngFor="let question of questions;let i = index" class="question">
        {{question.questionText}}
        <ul>
          <div *ngFor="let response of question.responseChoices;" class="response">
            <li *ngIf="verifyAnswer(response,question)" class="answer">
              {{response.responseChoiceText}}
            </li>
            <li *ngIf="!verifyAnswer(response,question)" class="response">
              {{response.responseChoiceText}}
              {{verifyAnswer(response,question)}}
            </li>
          </div>
          <li *ngIf="'FREETEXT' === question.questionType" class="answer">
            {{getAnswersForQuestion(question)[0].text}}
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="download()"><span
        class="glyphicon glyphicon-download-alt"></span> PDF
      </button>
    </div>
  </div>
</div>
