<div *ngIf="feedbacks.length === 0" class="message">
  <h3>No feedbacks to show :(</h3>
</div>
<div class="list-group">
  <div *ngFor="let feedback of feedbacks" class="list-group-item clearfix">
    <div class="list-group-item-heading">
      <div *ngIf="getReceived() == true">
        <div *ngIf="feedback.anonymous == true">
          <h4>From: Anonymous</h4>
        </div>
      </div>
      <div *ngIf="feedback.anonymous == false">
        <h4>From:{{feedback.from}}</h4>
      </div>


      <h4>
       To: {{feedback.to}}
        <button (click)="ViewFeedback(feedback)" class="btn btn-success feedbackButton badge pull-right">View</button>
       </h4>

    </div>

    <div class="list-group-item-text">
      <h4>
      Date:{{feedback.date}}
      </h4>
    </div>
</div>
</div>

