.feedbackContainer {
  background-color:white;
  display:block;
}
.message {
  text-align: center;
}
.feedbackButton{
  padding: 10px 14px !important;
  background-color: #5cb85c !important;
}
.feedbackView{
  float:left;overflow:hidden
}
