<div *ngIf="templates.length === 0" class="message">
  <h3>No templates to show :(</h3>
</div>
<div class="list-group">
  <div *ngFor="let template of templates" class="list-group-item clearfix">
    <div class="list-group-item-heading">
      <h4>Name:{{template.name}}</h4>
      <h4>Author:{{template.author}}
      <button (click)="ViewTemplate(template)" class="btn btn-success templateButton badge pull-right">View</button>
      </h4>
    </div>
  </div>
</div>
