<div *ngIf="!isLoggedIn()">
	<app-home>
	</app-home>
</div>
 <div *ngIf="getRole()=='ROLE_SUL'">
	<app-suluser>
	</app-suluser>
</div>
<div *ngIf="getRole()=='ROLE_Normal'">
	<app-basicuser>
	</app-basicuser>
</div>



