<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Login</h4></div>
    <div class="modal-body">
      <input type="text" id="name" class="text" required minlength="4" maxlength="20" name="name" [(ngModel)]="username" placeholder="Username" #name="ngModel" tabindex="1">
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
        <div [hidden]="!name.errors.required">Name is required</div>
        <div [hidden]="!name.errors.minlength">Name must be at least 4 characters long.</div>
        <div [hidden]="!name.errors.maxlength">Name cannot be more than 20 characters long.</div>
      </div>
      <input class="text" type="password" id="Password"  required minlength="4" maxlength="20" [(ngModel)]="password" name="Password" placeholder="Password"  #Password="ngModel" tabindex="2">
      <div *ngIf="Password.errors && (Password.dirty || Password.touched)" class="alert alert-danger">
        <div [hidden]="!Password.errors.required">Password is required</div>
        <div [hidden]="!Password.errors.minlength">Password must be at least 4 characters long.</div>
        <div [hidden]="!Password.errors.maxlength">Password cannot be more than 20 characters long.</div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="login()" (keyup.enter)="login()" class="x" tabindex="3">Log In</button>
    </div>
  </div>
</div>

<script>
  document.getElementById('name').addEventListener('keypress', function(event) {
    if (event.keyCode == 13) {
      event.preventDefault();
    }
  });
  document.getElementById('Password').addEventListener('keypress', function(event) {
    if (event.keyCode == 13) {
      event.preventDefault();
    }
  });
</script>
