
link href = "https: //fonts.googleapis.com /icon?family=Material+Icons "
rel = "stylesheet ">
                   #wrapper {
                     margin-left: auto;
                     margin-right: auto;
                     height: auto;
                     width: auto;  }
#cssmenu ul li button, #cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}

#cssmenu ul li button {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}

#cssmenu.align-right {
  float: right;
}

#cssmenu:after, #cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu ul li button, #cssmenu ul li {
  display: block;
  z-index: 1;
  background: #474747;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #585858 0%, #4e4e4e 50%, #787878 51%,
  #565656 78%, #6f6f6f 100%);
  background: -webkit-linear-gradient(bottom, #4f4f4f 0%, #616161 50%, #363636 51%,
  #343434 78%, #6f6f6f 100%);
  background: -o-linear-gradient(bottom, #616161 0%, #4a4a4a 50%, #666666 51%, #343434
  78%, #6f6f6f 100%);
  background: -ms-linear-gradient(bottom, #4e4e4e 0%, #545454 50%, #363636 51%,
  #343434 78%, #6f6f6f 100%);
  background: linear-gradient(to top, #353535 0%, #585858 50%, #6f6f6f 51%, #303030
  78%, #959595 100%);
}

#cssmenu ul li button::after, #cssmenu ul li::after {
  content: "";
  height: 8px;
  position: absolute;
  border-top-left-radius: 50% 4px;
  border-top-right-radius: 50% 4px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #464646 61%, #222222 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #4a4a4a 61%, #424242 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)
  60%, #515151 61%, #525252 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0));
  z-index: 2;
  bottom: 10px;
}

#cssmenu ul li button, #cssmenu ul li a {
  display: inline-block;
  padding: 18px 30px;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 3;
}

#cssmenu ul li button:hover, #cssmenu ul li a:hover, #cssmenu ul li.active a
{
  color: #ffffff;
}

#cssmenu ul li button.active, #cssmenu ul li button:hover, #cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #16bd8c;
  background: -moz-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%,
  #1adda4 78%, #7cf0ce 100%);
  background: -webkit-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%,
  #1adda4 78%, #7cf0ce 100%);
  background: -o-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4
  78%, #7cf0ce 100%);
  background: -ms-linear-gradient(bottom, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%,
  #1adda4 78%, #7cf0ce 100%);
  background: linear-gradient(to top, #118f6a 0%, #16bd8c 50%, #1ae2a7 51%, #1adda4
  78%, #7cf0ce 100%);
}

#cssmenu ul li button:hover::after, #cssmenu ul li button.active::after,
#cssmenu ul li:hover::after, #cssmenu ul li.active::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0) 60%, #16bd8c 61%, #16bd8c 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)
  60%, #16bd8c 61%, #16bd8c 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0));
}
button.x {
  font-size: 1em;
  font-weight: bold;
  color: white;
  background: #309FF7;
  outline: none;
  cursor: pointer;
  padding: 1em;
  -webkit-appearance: none;
  width: 15%;
  margin: 1em 0;
  left: 2.5%;
  top: 10%;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  transition: .5s all;
  position: absolute;
  border-radius: 13px;
  box-shadow: 5px 5px 5px #888888;
}

div.container {
  width: 100%;
  padding-bottom: 0px;
}
div.centerBox {
  display: inline;
  width: 76%;
  border: solid 1px grey;
  background: rgba(223, 223, 223, 0.9);
  float: right;
  height: 1000px;
}
.leftMenu {
  float: left;
  width: 24%;
  height: 1000px;
  background-color: gray;

}
.icon{
  float:right;
  margin-right:15%;
  margin-top:5%;
}
.arrange-horizontally>* {
  text-align: left;
}
