<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="arrange-horizontally">

  <div class="container">
        <div class="leftMenu">
          <div id='cssmenu'>
            <ul>
              <li class='active'>
                <a href='#'>
                  <span>Welcome,{{userName}}</span></a>
                <em class="material-icons  md-light" style="float:right;margin-right:10%;margin-top:5%">face</em> </li>
              <li>
                <a [routerLink]="['/Feedbacks']" [queryParams]="{feedbacks: 'recived'}">
                  <span>Received</span></a>
                <em class="material-icons  md-light" style="float:right;margin-right:10%;margin-top:5%" >arrow_back</em></li>
              <li>
                <a [routerLink]="['/Feedbacks']" [queryParams]="{feedbacks: 'sent'}">
                  <span>Sent</span></a>
                <em class="material-icons md-light" style="float:right;margin-right:10%;margin-top:5%">arrow_forward</em></li>
              <li class='active'>
                <a href='#'>
                  <span>Colleagues</span></a>
                <em class="material-icons  md-light" style="float:right;margin-right:10%;margin-top:5%">group</em></li>
              <li>
                <button (click)="logout()" style="text-align:left; padding: 15px 30px;">
                  <span >Logout</span >
                  <em class="material-icons  md-light" style="float:right;margin-right:10%;margin-top:5%">power_settings_new</em></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="centerBox">
          <div>
            <router-outlet></router-outlet></div></div>
  </div>
</div>
