
<div class="templateGenerator">
    <div class="row">
      <div class="col-xs-12">
        <div class="margin-20">
          <h4>Add Template</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="form-group input-group">
            <input type="text" class="form-control nameInput" formControlName="name" placeholder="Template Name">
            <span class="input-group-btn">
            <button type="submit" (click)="save(myForm.value)" class="btn btn-primary submit" [disabled]="!myForm.valid">Submit</button>
              </span>
          </div>
          <small *ngIf="!myForm.controls.name.valid" class="text-danger">
            Name must have at least 5 characters!
          </small>
          <div formArrayName="questions">
            <div *ngFor="let question of myForm.controls.questions.controls; let i=index" class="panel panel-default">
              <div class="panel-heading" [formGroupName]="i">
                <label>Question Text:</label>
                <input type="text" formControlName="questionText" placeholder="Insert your question here" id="questionInput">

                <label>Type:</label>
                <select class="form-control selectType" formControlName="questionType">
                  <option [selected]="true" [value]="defaultType">{{defaultType}}</option>
                  <option *ngFor="let type of questionTypes"  [value]="type">{{type}}</option>
                </select>

                <span class="glyphicon glyphicon-remove pull-right" id="formButton"
                      *ngIf="myForm.controls.questions.controls.length > 1"
                      (click)="removeQuestion(i)"></span>
                <div *ngIf="getQuestionType(i) != 'FREETEXT'">
                  <small *ngIf="getAnswers(i).length < 2" class="text-danger">
                    A question must have at least 2 answers!
                  </small>
                <div class="panel-body" formArrayName="responseChoices">
                  <div class="form-group col-xs-6" *ngFor="let answer of getAnswers(i);let j=index">
                    <div class="form-group col-xs-6">
                      <div [formGroupName]="j">
                        <label>Answer:</label>
                        <input type="text" id="answerInput" placeholder="Answer Text" class="form-control" formControlName="responseChoiceText" required>
                        <span class="glyphicon glyphicon-remove" (click)="removeAnswer(i,j)"></span>
                      </div>
                    </div>
                  </div>
                </div></div>
                <button (click)="addAnswer(i)" onended="myForm.updateValueAndValidity()" class="btn btn-primary pull-right formButton" style="cursor: default" *ngIf="getQuestionType(i) != 'FREETEXT' && getQuestionType(i)!= ''">
                  Add answer
                </button>
                <br>
              </div>
            </div>
          </div>
          <div class="margin-20">
            <a (click)="addQuestion()" class="btn btn-primary pull-right formButton addQuestion" style="cursor: default">
              Add question
            </a>
            <br>
            <br>
          </div>
          <br>
        </form>
      </div>
    </div>
</div>
