
.templateGenerator {
  width: 60%;
  height: 100%;
  border: solid 1px grey;
  width: 76.5%;
  height: 100%;
  border: solid 1px grey;
  box-shadow: 2px 2px 2px #888888;
  background: rgba(204, 204, 204, 0.9);
  vertical-align: top;
  float: right;
}

#answerInput {
  width: 52%;
  display: inline;
}

#questionInput {
  width: 67%;
}

.nameInput {
  width: 100%;
}

.formButton {
  padding: 2px 12px;
}

.selectType {
  width: 17%;
  display: inline;
}
